<table>
  <div class="ui link cards">
    <% @products.each do |product| %>
      <div class="card">
        <%= form_tag("/discount", method: "POST") do %>
          <%= hidden_field_tag 'product_id', product.id %>
          <%= hidden_field_tag 'product_amount', product.variants[0].price %>
          <div class="image">
            <img class="ui mini image" src="<%= product.images.first.src %>">
          </div>
          <div class="content">
            <div class="header">
              <%= product.variants[0].price %>
            </div>
          </div>
          <div class="extra content">
            <%= button_tag "OFFER 10% OFF", class: "ui teal button", data: { disable_with: "Processing" } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</table>
